.page {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.input {
  margin-bottom: 20px;
}
.name {
  position: fixed;
  bottom: 0;
  right: 10px;
}
p.header-name {
  font-size: x-large;
}
