
<div class="bar">
  <button class="first-bar"
    [ngClass]="isStrong? 'difficulty-strong':isMedium?'difficulty-medium':isEasy?'difficulty-easy':isLess?'difficulty-less':isNormal?'difficulty-none':''"
    disabled
  ></button>
  <button class="second-bar"
    [ngClass]="isStrong? 'difficulty-strong':isMedium?'difficulty-medium':isEasy?'difficulty-easy':isLess?'difficulty-less':isNormal?'difficulty-none':''"
    disabled>
  </button>
  <button class="third-bar"
    [ngClass]="isStrong? 'difficulty-strong':isMedium?'difficulty-medium':isEasy?'difficulty-easy':isLess?'difficulty-less':isNormal?'difficulty-none':''"
    disabled>
  </button>
</div>
