button {
  border-radius: 22px;
  width: 33.333333%;
  height: 30px;
  border: 0px;
  margin-left: 5px;
}

.bar {
  display: flex;
  justify-content: center;
  width: 400px;
}

.first-bar.difficulty-none {
  background-color: grey;
}

.first-bar.difficulty-less {
  background-color: red;
}

.first-bar.difficulty-easy {
  background-color: red;
}

.first-bar.difficulty-medium {
  background-color: yellow;
}

.first-bar.difficulty-strong {
  background-color: green;
}

.second-bar.difficulty-none {
  background-color: grey;
}

.second-bar.difficulty-less {
  background-color: red;
}

.second-bar.difficulty-easy {
  background-color: grey;
}

.second-bar.difficulty-medium {
  background-color: yellow;
}

.second-bar.difficulty-strong {
  background-color: green;
}

.third-bar.difficulty-none {
  background-color: grey;
}

.third-bar.difficulty-less {
  background-color: red;
}

.third-bar.difficulty-easy {
  background-color: grey;
}

.third-bar.difficulty-medium {
  background-color: grey;
}

.third-bar.difficulty-strong {
  background-color: green;
}
